
/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* dark track */
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff00cc, #00e5ff);

  border-radius: 10px;
}

/* On hover effect */
::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(45deg, #00e5ff, #ff00cc);

}
